<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="//cdn.jsdelivr.net/jquery/1.11.2/jquery.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
  <!-- move this to css file later -->
  <style>
    img {
      width:90%;
    }
    .price {
      font-size:3em;
    }
    .panel-heading {
      font-size:3em;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
    <h1 align = "center">Which Costs More?</h1>
    <% for(var i=0; i<items.length; i++) {%> 
      <div class="col-md-6">
        <div class="panel panel-default">
        <div class="panel-heading">
          <%= items[i].name %>
        </div>
        <div class="panel-body">
          <img src='img/<%= items[i].filename %>.png'><br>
          <span class="price">$<%= items[i].value %></span><br>
          <%= items[i].description %><br>
          <!-- <%= items[i].category %><br> -->
        </div>
       </div>
      </div>
    <% } %>

  </div>
</body>
</html>